<!DOCTYPE html>
<html>

<head>
    <title>Seller Dashboard</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="../../static/seller/css/seller_dashboard.css" type="text/css" rel="stylesheet">

</head>

<body>
    <!--<section>

        <nav class="navbar navbar-expand-lg fixed-top" id="nav1" style="background-color: #fff">
            <img src="../static/images/logo.png" style="height:70px ; width:70px ; opacity: 1 !important">
            <h3 class="Logo-text pl-2 pt-1"><a href="../../../index.html"
                    style="color:black ; text-decoration: none;">Ann
                    Suraksha</a></h3>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link">Home<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Buyer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="../../seller/templates/seller_login.html">Farmer</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'check' %}" style="color:red">RealTime Mandi price</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            href="../../logistics/templates/logistics/logistics_login.html">Logistics</a>
                    </li>
                    {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-item nav-link" href="#">Profile</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>

                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="about-us.html">About Us</a>
                    </li>
                </ul>
            </div>
        </nav>
    </section>-->

    <section>
        <div class="navbar" style="background-color: #24b59d">
            <div class="container-fluid">
                <div class="logo">
                    <img src="../../../seller/static/seller/images/logo.png" style="height:50px ; width:50px">
                    <h1 style="float:right">&nbspAnn Suraksha</h1>
                </div>
                <div class="toggle" style="background-color: #00BCD4;">
                    <span style="background-color: white;"></span>
                    <span style="background-color: white;"></span>
                    <span style="background-color: white;"></span>
                    <span style="background-color: white;"></span>
                </div>
                <div class="links">
                    <ul>
                        <li style="display:inline-block ; padding:15px ; font-size:1.3em">
                            <img src="../../static/seller/images/home-icon.png" style="height: 25px ; width:25px">
                            <a href="home.html">&nbspHome</a>
                        </li>
                        <li style="display:inline-block ; padding:15px ; font-size:1.3em">
                            <img src="../../static/seller/images/farmer-icon.png" style="height: 25px ; width:25px;">
                            <a href="../../../seller/templates/seller/seller_login.html">Seller</a>
                        </li>
                        <li style="display:inline-block ; padding:15px ; font-size:1.3em">
                            <img src="../../static/seller/images/warehouse-icon.png" style="height: 25px ; width:25px;">
                            <a href="../../../buyer/templates/buyer/buyer_login.html">&nbspBuyer</a>
                        </li>
                        <li style="display:inline-block ; padding:15px ; font-size:1.3em">
                            <img src="../../static/seller/images/logistics-icon.png" style="height: 25px ; width:25px">
                            <a href="../../../logistics/templates/logistics/logistics_login.html">&nbspLogistics</a>
                        </li>
                        <li style="display:inline-block ; padding:15px ; font-size:1.3em">
                            <img src="../../static/seller/images/scheme-icon.png" style="height: 25px ; width:25px">
                            <a href="http://agricoop.nic.in/programmes-schemes-listing" target="_blank">&nbspSchemes</a>
                        </li>
                        <li style="display:inline-block ; padding:15px ; font-size:1.3em">
                            <img src="../../static/seller/images/aboutus-icon.png" style="height: 25px ; width:25px">
                            <a href="about-us.html">&nbspAbout Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <div id="content">

        <span class="slide">
            <a href="#" onclick="openSlideMenu()">
                <i class="fas fa-bars"></i>
            </a>
        </span>

        <div id="menu" class="nav">
            <a href="#" class="close" onclick="closeSlideMenu()">
                <i class="fas fa-times"></i>
            </a>
            <a
                href="#">Dashboard&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
            <a href="#space-reservation" onclick="sell_click()">Sell
                Commodity&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
            <a
                href="#">Complete&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
            <a
                href="#">InProgress&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</a>
        </div>

        <section class="menu-section" id="dashboard">

        </section>

        <section class="menu-section" id="complete">

        </section>

        <section class="menu-section" id="inprogress">

        </section>

        <section class="menu-section" id="sell" name="space-reservation" style="display: none;">
            <h2 class="text-center">Sell Commodity</h2>
            <hr>
            <div class="container" style="-webkit-box-shadow: 0 0 10px #000;
            box-shadow: 0 0 10px #000;">
                <div class="row pt-4 pb-4">
                    <div class="col-lg-6 text-center">
                        <form>
                            <label for="warehous-type">WareHouse Type:</label><br>
                            <select name="warehouse-type" required>
                                <option>-------Select Option-------</option>
                                <option>Government</option>
                                <option>Private</option>
                                <option>Semi-Private</option>
                                <option>None</option>
                            </select>
                        </form>
                    </div>
                    <div class="col-lg-6 text-center">
                        <form>
                            <label for="region">Where You Want To Sell</label><br>
                            <input type="text" id="region" name="region" placeholder="Region"><br><br>
                            <button class="btn btn-success ml-5" onclick="next()">Next</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container mt-4 pb-4"
                style="display: none ; -webkit-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000;" id="second-div">
                <div class="container w-50 pt-4 pb-4">
                    <div class="card mb-3 text-center" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../../static/seller/images/login-portal.jpg" class="card-img">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 text-center" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-4">
                                <img src="../../static/seller/images/login-portal.jpg" class="card-img">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 text-center">
                            <form>
                                <label for="quantity">Quantity(in Quintals):</label><br>
                                <input type="number" name="quantity" id="quantity" placeholder="Quantity"><br><br>
                                <label for="contact-person">Contact Person</label><br>
                                <input type="text" name="contact-person" id="contact-person"
                                    placeholder="Conact Person">
                            </form>
                        </div>
                        <div class="col-lg-6 text-center">
                            <form>
                                <label for="commodity">Commodity:</label><br>
                                <select id="commodity">
                                    <option>-------Select Commodity-------</option>
                                    <option>Fruits</option>
                                    <option>Vegetables</option>
                                    <option>Medicinal</option>
                                    <option>Dairy</option>
                                    <option>Grains</option>
                                    <option>BioFuel</option>
                                    <option>Animals</option>
                                    <option>Plants</option>
                                    <option>None</option>
                                </select><br><br>
                                <label for="date">When Will You be able to sell the goods</label><br>
                                <input type="date" id="date" name="date"><br><br>
                                <button class="btn bg-success" style="color: white;">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </div>

    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script>
        function openSlideMenu() {
            document.getElementById('menu').style.width = '250px';
            document.getElementById('content').style.marginLeft = '250px';
        }
        function closeSlideMenu() {
            document.getElementById('menu').style.width = '0';
            document.getElementById('content').style.marginLeft = '0';
        }
        function next() {
            document.getElementById('second-div').style.display = "block"
        }
        function sell_click() {
            document.getElementById("sell").style.display = "block"
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>