{% extends 'home/home.html' %}
{% load static %}
{% block content %}
<script src="{% static 'buyer/js/cities.js' %}"></script>

<a name="buyer" class="login">
    <div id="singnup" class="container text-center mt-5">
        <h1>SIGN UP</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="firstname">First Name</label><br>
            {{sform.first_name}}<br>
            <label for="lastname">Last Name</label><br>
            {{sform.last_name}}<br>
            <label for="contact">Contact No.</label><br>
            {{sform.phone}}<br>
            <label for="email">Email</label><br>
            {{form.email}}<br>
            <label for="aadhar">Aadhar No.</label><br>
            {{sform.aadhar}}<br>
            <label for="district">State</label><br>
            <select name="state" style="width: 18%;margin-left: 41%;"
                onchange="print_city('state', this.selectedIndex);" id="sts" name="stt" class="form-control"
                required></select><br>
            <label for="district" style="margin-top: -2%;">District</label>
            <select id="state" style="width: 18%;margin-left: 41%;" class="form-control" name="district"
                required></select><br>
            <script language="javascript">print_state("sts");</script>
            <label for="password" style="margin-top: -2%;">Enter a Password</label><br>
            {{form.password1}}<br>
            <label for="again password">ReEnter Password</label><br>
            {{form.password2}}<br>
            <div class="alert alert-danger" id="alert" role="alert" style="display: none ; width:auto">
                Passwords Did'nt Match ....Try Again
            </div>
            <!-- <script src='https://www.google.com/recaptcha/api.js'></script>
            <div class="g-recaptcha" data-sitekey="6Ldjrc4UAAAAAPIfnXkHkPKpJwOV3yxkOXagmQwM"></div> -->
            <button type="submit" class="btn btn-primary mt-4" id="signup-button">Sign Up</button>
        </form>

        <div class="mt-2">Already Have Account.. <a href="{% url 'seller:sellerlogin' %}" id="open_login">Login</a>
        </div>

    </div>
</a>
{% endblock content %}
