{% extends 'home/home.html' %}
{% load static %}

{% block content %}

            <h2 class="text-center">Sell Commodity</h2>
            <hr>
            <div class="container" style="-webkit-box-shadow: 0 0 10px #000;
            box-shadow: 0 0 10px #000;">
            <form method="POST">
              {% csrf_token %}

                        {% if  state %}
                        <div class="row">
                              <div class="col-lg-4 text-center pt-4 pb-4">
                                <label for="commodity-type">Commodity Type:</label><br>

                                      <select name="commodity" required>
                                        <option value="{{commodity}}">{{commodity}}</option>
                                      </select>

                              </div>
                              <div class="col-lg-4 text-center pt-4 pb-4">
                                      <label for="state">Select the State where you want to sell:</label><br>
                                      <select class="" name="state">
                                        <option value="{{state}}">{{state}}</option>
                                      </select>
                              </div>
                              <div class="col-lg-4 text-center pt-4 pb-4">
                                {% if d %}
                                <label for="region">Select the district to Sell:</label><br>
                                <select class="" name="district">

                                      <option value="{{districts}}">{{districts}}</option>

                                </select>
                              </div>
                              </div>

                                
                                <div class="container justify-content-center">
                                {% for seller in sellers %}
                                <div class="card mb-3 text-center w-50">
                                    <div class="row no-gutters">
                                        <div class="col-md-12">
                                            <div class="card-body">
                                                <h5 class="card-title">{{seller.company_name}}</h5>
                                                <p class="card-text">Owner Name : {{seller.first_name}} {{seller.last_name}}</p>
                                                <p class="card-text">Commodity : {{seller.commodity}} </p>
                                                <p class="card-text">Address : {{seller.district}} ,{{seller.state}},Pincode :{{seller.pin}}</p>
                                                <p class="card-text">Phone : {{seller.phone}} </p>
                                            </div>
                                            <button type="button" class="btn btn-success mb-4">Select</button>
                                        </div>
                                    </div>
                                </div>
                                </div>

                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-6 text-center">

                                                <label for="quantity">Quantity(in Quintals):</label><br>
                                                <input type="number" name="quantity" id="quantity" placeholder="Quantity"><br><br>
                                                <label for="contact-person">Contact Person</label><br>
                                                <input type="text" name="contact" id="contact-person"
                                                    placeholder="Conact Person">
                                {% endfor %}
                                {% else %}
                                <label for="region">Where You Want To Sell</label><br>
                                <select class="" name="district">
                                    {% for district in districts %}
                                      <option value="{{district}}">{{district}}</option>
                                    {% endfor %}
                                </select>
                                {% endif %}


                        {% else %}


                        <div class="col-lg-6 text-center">
                          <label for="commodity">Commodity Type:</label><br>

                                <select name="commodity" required>
                                  <option>-------Select Commodity-------</option>
                                  <option>Fruits</option>
                                  <option>Vegetables</option>
                                  <option>Medicinal</option>
                                  <option>Dairy</option>
                                  <option>Grains</option>
                                  <option>BioFuel</option>
                                  <option value="crop">Crops</option>
                                  <option>Plants</option>
                                  <option>None</option>
                                </select>

                        </div>
                        <div class="col-lg-6 text-center">
                          <label for="state">Where You Want To Sell</label><br>
                          <select class="" name="state">
                            <option value="">------------Select State------------</option>
                            <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                            <option value="Andhra Pradesh">Andhra Pradesh</option>
                            <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                            <option value="Assam">Assam</option>
                            <option value="Bihar">Bihar</option>
                            <option value="Chandigarh">Chandigarh</option>
                            <option value="Chhattisgarh">Chhattisgarh</option>
                            <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                            <option value="Daman and Diu">Daman and Diu</option>
                            <option value="Delhi">Delhi</option>
                            <option value="Goa">Goa</option>
                            <option value="Gujarat">Gujarat</option>
                            <option value="Haryana">Haryana</option>
                            <option value="Himachal Pradesh">Himachal Pradesh</option>
                            <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                            <option value="Jharkhand">Jharkhand</option>
                            <option value="Karnataka">Karnataka</option>
                            <option value="Kerala">Kerala</option>
                            <option value="Lakshadweep">Lakshadweep</option>
                            <option value="Madhya Pradesh">Madhya Pradesh</option>
                            <option value="Maharashtra">Maharashtra</option>
                            <option value="Manipur">Manipur</option>
                            <option value="Meghalaya">Meghalaya</option>
                            <option value="Mizoram">Mizoram</option>
                            <option value="Nagaland">Nagaland</option>
                            <option value="Orissa">Orissa</option>
                            <option value="Pondicherry">Pondicherry</option>
                            <option value="Punjab">Punjab</option>
                            <option value="Rajasthan">Rajasthan</option>
                            <option value="Sikkim">Sikkim</option>
                            <option value="Tamil Nadu">Tamil Nadu</option>
                            <option value="Tripura">Tripura</option>
                            <option value="Uttaranchal">Uttaranchal</option>
                            <option value="Uttar Pradesh">Uttar Pradesh</option>
                            <option value="West Bengal">West Bengal</option>
                          </select>

                        </div>


                    {% endif %}<br><br>
                          <button class="btn btn-success ml-5" type="submit">Next</button>
                        </form>
                    </div>
                </div>
            </div>
            <div class="container mt-4 pb-4"
                style="display: none ; -webkit-box-shadow: 0 0 10px #000; box-shadow: 0 0 10px #000;" id="second-div">
                <div class="container w-50 pt-4 pb-4 text-center justify-content-center">
                    <div class="card mb-3 text-center" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p><br><br>
                                        <button type="button" class="btn btn-success" id="select">Select</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3 text-center" style="max-width: 540px;">
                        <div class="row no-gutters">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural
                                        lead-in to additional content. This content is a little bit longer.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 text-center">

                                <label for="quantity">Quantity(in Quintals):</label><br>
                                <input type="number" name="quantity" id="quantity" placeholder="Quantity"><br><br>
                                <label for="contact-person">Contact Person</label><br>
                                <input type="text" name="contact-person" id="contact-person"
                                    placeholder="Conact Person">

                        <div class="col-lg-6 text-center">

                                <label for="commodity">Commodity:</label><br>
                                <select id="commodity">
                                    <option>-------Select Commodity-------</option>
                                    <option>Fruits</option>
                                    <option>Vegetables</option>
                                    <option>Medicinal</option>
                                    <option>Dairy</option>
                                    <option>Grains</option>
                                    <option>BioFuel</option>
                                    <option>Animals</option>
                                    <option>Plants</option>
                                    <option>None</option>
                                </select><br><br>
                                <label for="date">When Will You be able to sell the goods</label><br>
                                <input type="date" id="date" name="date"><br><br>


                        </div>
                    </div>
                </div>
            </div>


    </div>

    <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>
    <script>
        function openSlideMenu() {
            document.getElementById('menu').style.width = '250px';
            document.getElementById('content').style.marginLeft = '250px';
        }
        function closeSlideMenu() {
            document.getElementById('menu').style.width = '0';
            document.getElementById('content').style.marginLeft = '0';
        }
        function next() {
            document.getElementById('second-div').style.display = "block"
        }
        function sell_click() {
            document.getElementById("sell").style.display = "block"
        }
    </script>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


{% endblock content %}
