{% extends 'home/home.html' %}

{% load static %}

{% block content %}
    <section>

    <section class="mt-5">
        <div class="container text-center mb-5">
            <h1>Bringing trust and transparency<br>to Indian agriculture with<br>digitisation</h1>
            <p class="mt-5" style="font-size:1.2em">
                Since as far back as one can remember, information and commodity flow in rural India have been dominated
                by players who have thrived on the opaqueness, inconsistency and fragmentation of the ecosystem.
                Technology, while making rapid strides in the everyday life of an urban dweller, has had little to no
                impact on the rural economy.<br><br><br>
                However, at Kisan Network, we believe that with millions of rural internet users coming online for the
                first time on mobile, it is time they reap its benefits. We are building this future with our fully
                integrated and tech enabled supply chain that enables farmers PAN India to earn more by selling their
                produce directly to businesses.<br><br>
                We’re building a future where farmers are businessmen, and not just growers. We want you to be a part of
                it.
            </p>
        </div>
    </section>

  
{% endblock content %}
