<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <title>Check Price</title>
</head>

<body>
    <div class="navbar" style="background-color: #32cd32">
        <div class="container-fluid">
          <div class="logo">
            <img src="../../../seller/static/seller/images/logo.png" style="height:50px ; width:50px">
            <h1 style="float:right">&nbspAnn Suraksha</h1>
          </div>
          <div class="toggle" style="background-color: #00BCD4;">
            <span style="background-color: white;"></span>
            <span style="background-color: white;"></span>
            <span style="background-color: white;"></span>
            <span style="background-color: white;"></span>
          </div>
          <div class="links">
            <ul>
              <li style="display:inline-block ; padding:15px ; font-size:1.3em" >
                <a href="home.html">Home</a>
              </li>
              <li style="display:inline-block ; padding:15px ; font-size:1.3em">
                <a href="../../../seller/templates/seller/seller_login.html">Seller</a>
              </li>
              <li style="display:inline-block ; padding:15px ; font-size:1.3em">
                <a href="../../../buyer/templates/buyer/buyer_login.html">Buyer</a>
              </li>
              <li style="display:inline-block ; padding:15px ; font-size:1.3em">
                <a href="../../../logistics/templates/logistics/logistics_login.html">Logistics</a>
              </li>
              <li style="display:inline-block ; padding:15px ; font-size:1.3em">
                <a href="about-us.html">About Us</a>
              </li>
            </ul>
          </div>
        </div>
      </div>

  <section class="mt-5">
    <div class="container">
      <h1 class="text-center">REALTIME MANDI PRICE</h1>
      <form method="POST">
        {% csrf_token %}
        <table>
          <tr>
            <td>State :</td>
            <td><select name="state">
                <option value="">------------Select State------------</option>
                <option value="Andaman and Nicobar Islands">Andaman and Nicobar Islands</option>
                <option value="Andhra Pradesh">Andhra Pradesh</option>
                <option value="Arunachal Pradesh">Arunachal Pradesh</option>
                <option value="Assam">Assam</option>
                <option value="Bihar">Bihar</option>
                <option value="Chandigarh">Chandigarh</option>
                <option value="Chhattisgarh">Chhattisgarh</option>
                <option value="Dadra and Nagar Haveli">Dadra and Nagar Haveli</option>
                <option value="Daman and Diu">Daman and Diu</option>
                <option value="Delhi">Delhi</option>
                <option value="Goa">Goa</option>
                <option value="Gujarat">Gujarat</option>
                <option value="Haryana">Haryana</option>
                <option value="Himachal Pradesh">Himachal Pradesh</option>
                <option value="Jammu and Kashmir">Jammu and Kashmir</option>
                <option value="Jharkhand">Jharkhand</option>
                <option value="Karnataka">Karnataka</option>
                <option value="Kerala">Kerala</option>
                <option value="Lakshadweep">Lakshadweep</option>
                <option value="Madhya Pradesh">Madhya Pradesh</option>
                <option value="Maharashtra">Maharashtra</option>
                <option value="Manipur">Manipur</option>
                <option value="Meghalaya">Meghalaya</option>
                <option value="Mizoram">Mizoram</option>
                <option value="Nagaland">Nagaland</option>
                <option value="Orissa">Orissa</option>
                <option value="Pondicherry">Pondicherry</option>
                <option value="Punjab">Punjab</option>
                <option value="Rajasthan">Rajasthan</option>
                <option value="Sikkim">Sikkim</option>
                <option value="Tamil Nadu">Tamil Nadu</option>
                <option value="Tripura">Tripura</option>
                <option value="Uttaranchal">Uttaranchal</option>
                <option value="Uttar Pradesh">Uttar Pradesh</option>
                <option value="West Bengal">West Bengal</option>
              </select></td><br>
          </tr>

        </table>
        <br>
        <button type="submit" class="btn btn-primary">Check</button>
      </form>
    </div>
  </section>

  <section id="footer" style="background-color: #08080a ; color:white">
      <div class="container-fluid">
          <div class="row" style="width:99%">
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                  <h4><span style="position: relative ; left:16%">Ann</span><br><span style="position: relative ; left:4%">Suraksha</span></h4>
                  <img src="../static/images/logo.png" style="height: 50px ; width:50px ; position: relative ; left:15%">
              </div>
              <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                  <nav class="nav flex-column">
                      <a class="nav-link" href="../../seller/templates/seller_login.html"
                      style="color:white">Farmers</a>
                      <a class="nav-link" href="#" style="color:white">Buyer</a>
                      <a class="nav-link" href="../../logistics/templates/logistics/logistics_login.html" style="color:white">Logistics</a>
                  </nav>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
              </div>
              <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                  <h4>For Help</h4>
                  <a href="tel:18001801551" style="color:white">1800-180-1551</a><br>
                  <a href="http://agriculture.gov.in/" target="_blank" style="color: blue !important;">http://agriculture.gov.in/</a>
              </div>
          </div>
      </div>
  </section>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous"></script>
</body>

</html>