{% load static %}

<html>

<head>
    <title>Ann Suraksha</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous" />
    <link href="{% static 'home/css/main.css' %}" type="text/css" rel="stylesheet" />
    <link href="{% static 'home/css/seller_dashboard.css' %}" type="text/css" rel="stylesheet" />

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css"
        integrity="sha384-REHJTs1r2ErKBuJB0fCK99gCYsVjwxHrSU0N7I1zl9vZbggVJXRMsv/sLlOAGb4M" crossorigin="anonymous" />

</head>

<body>
    <div class="navbar" style="background-color: #e8dbda">
        <div class="container-fluid">
            <div class="logo">
                <img src="{% static 'home/images/logo.png' %}" style="height:50px ; width:50px">
                <h1 style="float:right">&nbspAnn Suraksha</h1>
            </div>
            <div class="toggle" style="background-color: #00BCD4;">
                <span style="background-color: white;"></span>
                <span style="background-color: white;"></span>
                <span style="background-color: white;"></span>
                <span style="background-color: white;"></span>
            </div>
            <div class="links">
                <ul>
                    <li style="display:inline-block ; padding:15px ; font-size:1.3em">
                        <img src="{% static 'home/images/home-icon.png' %}" style="height: 25px ; width:25px">
                        <a href="{% url 'home' %}">&nbspHome</a>
                    </li>
                    <li style="display:inline-block ; padding:15px ; font-size:1.3em">
                        <img src="{% static 'home/images/farmer-icon.png' %}" style="height: 25px ; width:25px;">
                        <a href="{% url 'seller:sellerlogin' %}">Seller</a>
                    </li>
                    <li style="display:inline-block ; padding:15px ; font-size:1.3em">
                        <img src="{% static 'home/images/warehouse-icon.png' %}" style="height: 25px ; width:25px;">
                        <a href="{% url 'buyer:buyerlogin' %}">&nbspBuyer</a>
                    </li>
                    <li style="display:inline-block ; padding:15px ; font-size:1.3em">
                        <img src="{% static 'home/images/logistics-icon.png' %}" style="height: 25px ; width:25px">
                        <a href="../../../logistics/templates/logistics/logistics_login.html">&nbspLogistics</a>
                    </li>

                    <!--<li style="display:inline-block ; padding:15px ; font-size:1.3em">
                        <img src="{% static 'home/images/scheme-icon.png' %}" style="height: 25px ; width:25px">
                        <a href="http://agricoop.nic.in/programmes-schemes-listing" target="_blank">&nbspSchemes</a>
                    </li>-->
                    <li style="display:inline-block ; padding:15px ; font-size:1.3em">
                        <img src="{% static 'home/images/aboutus-icon.png' %}" style="height: 25px ; width:25px">
                        <a href="{% url 'about' %}">&nbspAbout Us</a>
                    </li>
                    <li class="nav-item dropdown" style="display:inline-block ; padding:15px ; font-size:1.3em">
                        <!-- <img src="{% static 'home/images/scheme-icon.png' %}" style="height: 25px ; width:25px"> -->
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Utility
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="../home/checkprice.html">Check-Mandi-Price</a>
                            <a class="dropdown-item" href="http://agricoop.nic.in/programmes-schemes-listing"
                                target="_blank">Schemes</a>
                            <a class="dropdown-item" href="../home/checkprice.html">Weather</a>
                            <a class="dropdown-item" href="../home/checkprice.html">Price-Prediction</a>
                            {% if user.is_authenticated %}
                                <a class="dropdown-item" href="{% url 'logout' %}">Price-Prediction</a>
                            {% endif %}

                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}}">{{message}}</div>
    {% endfor %}

    {% endif %}
    {% block content %} {% endblock %}

    <section id="footer" style="background-color: #08080a ; color:white">
        <div class="container-fluid">
            <div class="row" style="width:99%">
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <h4><span style="position: relative ; left:16%">Ann</span><br><span
                            style="position: relative ; left:4%">Suraksha</span></h4>
                    <img src="{% static 'home/images/logo.png' %}"
                        style="height: 50px ; width:50px ; position: relative ; left:15%">
                </div>
                <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                    <nav class="nav flex-column">
                        <a class="nav-link" href="../../seller/templates/seller_login.html"
                            style="color:white">Farmers</a>
                        <a class="nav-link" href="#" style="color:white">Buyer</a>
                        <a class="nav-link" href="../../logistics/templates/logistics/logistics_login.html"
                            style="color:white">Logistics</a>
                    </nav>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4 text-right">
                    <h4>For Help</h4>
                    <a href="tel:18001801551" style="color:white">1800-180-1551</a><br>
                    <a href="http://agriculture.gov.in/" target="_blank"
                        style="color: blue !important;">http://agriculture.gov.in/</a>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

    <script type="text/javascript">
        function chat() {
            document.getElementById('chat-button').style.display = "none"
            document.getElementById('chat-iframe').style.display = "block"
        }
    </script>
</body>

<script type="text/javascript"></script>
</body>

</html>
