img {
    height: 100vh;
  }
  .carousel-control .icon-prev,
.carousel-control .icon-next {
    font-size: 100px;
}
a{
    color:white;
}

ul li a{
  color:black
}

/* Container holding the image and the text */
.centered {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  color:white;
}
