#nav1
{
    box-shadow: 10px 10px 10px;
}
img {
    height: 100vh;
  }
  .carousel-control .icon-prev,
.carousel-control .icon-next {
    font-size: 100px;
}
a{
    color:white;
}

li{
  font-color:white;
}

/* Container holding the image and the text */
.centered {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translate(-50%, -50%);
  color:white;
}
