<html>

<head>
    <title>SIH</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="color:#fff">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Buyer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Farmer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Logistics</a>
                </li>
            </ul>
        </div>
    </nav>

    <section>
        <a name="buyer" class="login">
            <div class="container text-center mt-5">
                <label for="firstname">First Name</label><br>
                <input type="text" placeholder="First Name" id="firstname" required><br>
                <label for="lastname">Last Name</label><br>
                <input type="text" placeholder="Last Name" id="lastname" required><br>
                <label for="email">E-Mail</label><br>
                <input type="email" placeholder="Email" id="email" required><br>
                <label for="location">Location of Store</label><br>
                <input type="text" placeholder="Location" id="location" required><br>
                <label for="gst">GST Number</label><br>
                <input type="number" placeholder="GST Number" id="gst" required><br>
                <label for="company">Company Name</label><br>
                <input type="text" placeholder="C.Name" id="company" required><br>
                <button type="button" class="btn btn-primary mt-4" onclick="page2()">Next</button>
            </div>
        </a>
    </section>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>

</html>