<html>

<head>
    <title>Buyer</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="buyer.css" type="text/css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="color:#fff">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="../../../index.html">Home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#">Buyer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Farmer</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Logistics</a>
                </li>
            </ul>
        </div>
    </nav>

    <section id="sign_up">
        <a name="buyer" class="login">
            <div class="container text-center mt-5">
                <h1>SIGN UP</h1>
                <label for="firstname">First Name</label><br>
                <input type="text" placeholder="First Name" id="firstname" required><br>
                <label for="lastname">Last Name</label><br>
                <input type="text" placeholder="Last Name" id="lastname" required><br>
                <label for="email">E-Mail</label><br>
                <input type="email" placeholder="Email" id="email" required><br>
                <label for="contact">Contact No.</label><br>
                <input type="number" id="contact" placeholder="Contact Number"><br>
                <label for="location">Location of Store</label><br>
                <input type="text" placeholder="Location" id="location" required><br>
                <label for="gst">GST Number</label><br>
                <input type="number" placeholder="GST Number" id="gst" required><br>
                <label for="company">Company Name</label><br>
                <input type="text" placeholder="C.Name" id="company" required><br>
                <div class="mt-2">Already Have Account.. <a href="#" id="open_login" onclick="login()">Login</a></div>
                <button type="button" class="btn btn-primary mt-4" onclick="ask_pass()">Next</button>
            </div>
        </a>
    </section>

    <section id="signup_final">
            <div class="container text-center mt-5">
                <div>Your Username is: <span id="user_span"></span></div><br>
                <label for="password">Enter a Password</label><br>
                <input type="password" id="password" placeholder="Enter a Password"><br>
                <label for="again password">ReEnter Password</label><br>
                <input type="password" id="again password" placeholder="ReEnter Password"><br>
                <div class="alert alert-danger" id="alert" role="alert" style="display: none ; width:auto">
                    Passwords Did'nt Match ....Try Again
                </div>
                <button type="button" class="btn btn-primary mt-4" id="signup-button" onclick="final_signup()">Sign Up</button>
            </div> 
        </section>

    <section id="login">
        <div class="container text-center mt-5">
            <h1>LOGIN</h1>
            <label for="username">User Name</label><br>
            <input type="text" id="username" placeholder="User Name" required><br>
            <label for="password">Password</label><br>
            <input type="password" id="password" placeholder="Password" required><br>
            <div class="mt-2 mb-2">New User ?? <a href="#" id="open_signup" onclick="signup()">Sign Up</a></div>
            <button type="button" class="btn btn-primary">LOGIN</button>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>

        <script type="text/javascript" src="buyer.js"></script>
</body>

</html>